button {
    width: 104px;
    height: 30px;
    background: linear-gradient(140deg, #cefa7d, #9fea9c);
    cursor: pointer;
    font-family: $font-text;
    font-weight: 200;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 19px;
    transition-duration:0.4s;
    margin: 4px 8px;

    &:hover {
        transform: scale(1.05);
        background: linear-gradient(40deg, #cefa7d, #9fea9c);

    }

    &.connect-button {
        border: 2px solid #b1f091;
        background: #fffbf2;

        &:hover {
            border: 2px solid #b1f091;
            background: #b1f091;
        }
    }
}

/* to bottom right 
transform: background:linear-gradient(2deg);*/