header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-container {
        padding: 40px;

        .desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 480px) {
                display: none;
            }

            .header-right {
                flex-basis: 20%;
                width: 100%;

                .header-right-container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;
                    
                    
                    .example{
                        max-width: 400px;
                        display: flex;
                        flex-direction: row;
                        input{
                            padding: 10px;
                            font-size: 17px;
                            border: none;
                            border-bottom: 1px solid grey;
                            float: left;
                            background-color: $beige;
                            outline: none;
                          }
                        button {
                            float: left;
                            padding: 10px;
                            color: black;
                            background: none;
                            font-size: 17px;
                            border:none;
                            cursor: pointer;
                            }
                                &::after {
                                    content: "";
                                    clear: both;
                                    display: table;
                                }
                        .icon_recherche {
                        height: 30px;
                        margin-right: 10px;
                       }
                    }

                    
                    .button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        height: 100%;

                        .connect-button {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        .mobile {
            display: none;
            @media (max-width: 480px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .icon_recherche,
            .icon_account {
                height: 24px;
            }
        }

        .logo {
            height: 28px;
            @media (max-width: 480px) {
                height: 24px;
            }
        }
    }
    @media screen and (max-width: 950px) {
        .header-container {
            background: $beige;
        }
    }
}
