.sub_article_components_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20% auto;
    flex-direction: row;
    width: 70%;
    .text_container{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        position: relative;
        width: 50%;
        .info{
            font-family: $font-text;
            font-size: 14px;
            font-weight: $weight-thin;
            color: $black;
            .underline{
                text-decoration: underline;
            }
        }
        h2{
            font-family: $font-title;
            font-size: 36px;
            font-weight: $weight-regular;
            color: $black;
            line-height: 50px;
            margin:0;
        }
        .text{
            font-family: $font-text;
            font-size: 18px;
            font-weight: $weight-thin;
            color: $black;
            line-height: 25px;
        }
        .button{
            display: flex;
            justify-content: flex-end;
            .article_button{
                width: 30%;
            }
        }
            

        .border_article {
            position: absolute;
            background: $black;
    
            &:nth-child(5) {
                top: 0px;
                right: 381px;
            }
            &:nth-child(6) {
                top: 323px;
                left: 577px;
            }
            &:nth-child(7) {
                bottom: 3px;
                left: 726px;
            }
            &:nth-child(4) {
                bottom: 0px;
                left: 726px;
            }
    
            &:nth-child(even) {
                width: 150px;
                height: 0.5px;
            }
            &:nth-child(odd) {
                width: 0.5px;
                height: 70px;
            }
        }
    
    }
    .image{
        width: 50%;
        
        img{
            width: 272px;
           
            height: 272px;
            object-fit: cover;
            border-radius: 50px;
        }
        
    }
}
