.homepage_container {
    .slideshow {
        position: relative;
        .slides {
            display: none;
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        .line_container {
            display: flex;
            justify-content: center;

            .line-item {
                height: 16px;
                display: inline-block;
                cursor: pointer;
                &:hover .line {
                    background-color: $greentxt;
                    width: 100px;
                    height: 4px;
                }

                .line {
                    height: 2px;
                    width: 70px;
                    margin: 0 2px;
                    background-color: #bbb;
                    display: inline-block;
                    transition: all 0.2s ease-in-out;

                    &.active {
                        background-color: $greentxt;
                    }
                    &:hover {
                        background-color: $greentxt;
                        width: 100px;
                        height: 4px;
                    }
                }
            }
        }
    }
    .all_articles {
        h2 {
            font-family: $font-title;
            font-size: 56px;
            font-weight: $weight-regular;
            color: $black;
            text-align: center;
        }
        .article {
        }
    }
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
