.homepage_container {
    .slideshow {
        position: relative;
        .slides {
            display: none;
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        .line_container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .line-item {
                height: 24px;
                display: inline-block;
                cursor: pointer;
                &:hover .line {
                    background-color: $greentxt;
                    width: 100px;
                    height: 4px;
                }

                .line {
                    height: 2px;
                    width: 70px;
                    margin: 0 2px;
                    background-color: #bbb;
                    display: inline-block;
                    transition: all 0.2s ease-in-out;

                    /*  &:active {
                        background-color: $greentxt; */

                    &.active .animation{
                        display: block;
                        background: $greentxt;
                        width: 0px;
                        height: 2px;
                        animation: soulignement 4.5s ease-out;
                        animation-delay: 0s;

                        @keyframes soulignement {
                            0% {
                                width: 0%;
                            }
                            100% {
                                width: 100%;
                            }
                        }
                    } 
                }
            }
        }

    }
    .all_articles {
        h2 {
            font-family: $font-title;
            font-size: 56px;
            font-weight: $weight-regular;
            color: $black;
            text-align: center;
        }
        .article {
        }
    }
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}
