.sign_container {
    .register {
        flex-basis: 50%;

        h1 {
            font-family: $font-title;
            font-size: 56px;
            color: $black;
            font-weight: $weight-regular;
            width: 100%;
        }
        
        .input_container {
            .info {
                display: flex;
                flex-direction: column;
                width: 100%;

                p {
                    padding: 0;

                    font-family: $font-text;
                    color: $black;
                    font-size: 10px;
                    font-weight: $weight-extralight;
                }
            }

            .input {
                width: 100%;
            }
        }
    }
}
