h3 {
    font-family: $font-title;
    font-size: 2.5rem;
    font-weight: $weight-regular;
    color: $black;
    line-height: 2.3rem;
    margin: 1rem 0;
}

p, span, input, .notyf {
    font-family: $font-text;
}
